* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  height: 100%;
 
}

/* Navbar styles */
.link {
  font-size: 90%;
  font-weight: 400;
}

.navbar-links {
  font-weight: 400;
}
.logo-name {
  margin-left: 10px;
}

/* Page Headings styles -Favorites Page*/
.page-heading {
  color: white;
  font-size: 200%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 135px;
  margin-bottom: 2%;
  display: block;
  text-transform: uppercase;
  padding: 0 20px;
  position: relative;
  z-index: 3;
  text-align: center;
}
.page-heading::before {
  content: '';
  background: white;
  height: 1px;
  position: absolute;
  width: 100%;
  max-width: 800px;
  left: 0;
  top: 50%;
  z-index: -1;
}
.page-heading::after {
  content: '';
  background: #333;
  position: absolute;
  width: 52%;
  height: 100%;
  max-width: 800px;
  left: 24%;
  top: 0;
  z-index: -1;
}

.watch-list {
  color: white;
}



/* Movie Titles */
.movie-titles {
  padding-top: 5px;
  text-align: left;
}

/* SEARCH BUTTON styles */ 

 /* .search input {
  width: 300px;
  height: 35px;
  border-radius: 30px;
  outline: none;
  padding-left: 15px;
  background: #fff;
  border: 2px solid #49c3fd;
  color: #888; 
  margin-right: 75px;
} */

.search input:focus::placeholder {
  color: transparent;
}
.search input::placeholder{
  color: #888;
  opacity: 1; /* ONLY FOR MOZILLA USERS */
}

/* .search button {
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background: #49c3fd;
  transition-property: all;
  transition-duration: 0.5s;
  position: absolute;
  right: 110px;
  outline: none;
}  */

/* .search button:hover {
  background: #379fcf;
} */

/* .search button i {
  transition-property: all;
  transition-duration: 0.5s;
} */

.search button:hover i {
  transform: scale(1.5);
  transition-property: all;
  transition-duration: 0.5s;
}


/* Footer Styles */
.footer-container {
  width: 100%;
  margin-top: 50px;
  bottom: 0;
  padding-bottom: 5px;
}

.githubs-container {
  margin-left: -10%;
}

.project-repo {
  margin-left : -15%;
  margin-top : 30px;
}


.footer-logo {
  margin-right: -10%;
}

.git-icons {
  margin-top: -17px;
  margin-left: 5px;
  margin-right: 5px;
}

.repo-git-icon {
  margin-top: -18px;
  margin-left: 5px;
}


.footer-githubs {
  margin: 5px;
}

.copyright {
  margin-top: -8px;
  margin-right: 30px;
}



/* NAVBAR Responsive Styles */
@media screen and (max-width: 640px) {
  .nav-lists {
    margin-top: -28px;
  }
}

@media screen and (max-width: 580px) {

  .logo {
    width: 50px;
    margin-top: -4px;
  }
  .logo-name {
    display: none;
  }
  
  .nav-lists {
    margin: 0 auto;
    margin-top: 1px;
  }

  .search-bar-section {
    justify-content: flex-end;
    margin-left: 10px;
  }

  .search button {
    margin-right: -13px;
  }
  
}

  @media screen and (max-width: 500px) {
    .nav-lists {
      width: 65%;
    }
    .switch-button {
      margin-right: 5%;
      margin-left: -5%;
    }
    .search input {
      width: 250px;
    }
    .search button {
      margin-right: -30px;
    }
    
  }
  @media screen and (max-width: 414px) {
    .light-mode {
      margin-left: -25px;
    }
    .search input {
      width: 230px;
    }

    .nav-lists {
      margin-left: 41px;
    }
  }


  @media screen and (max-width: 375px) {
    .light-mode {
      margin-left: -25px;
    }
    .search input {
      width: 180px;
    }

    .nav-lists {
      margin-left: 41px;
    }
  }


  @media screen and (max-width: 320px) {
    .search input {
      width: 140px;
    }

    .nav-lists {
      margin-left: -26px;
      width: 100%;
    }

    .search button {
      width: 60px;
    }
  } 

/* FOOTER responsive Styles */

@media screen and (max-width: 820px) {
.copyright {
  display: none;
}

}

@media screen and (max-width: 586px) {
 
  .copyright {
    display: none;
  }

  .project-repo {
    width: 20%;
    margin-top: -1%;
    margin-left: -27%;
    margin-right: 20%;

  }

  .repo-git-icon {
    margin-top: 50%;
  }
  .footer-divider {
    display: none;
  }

  .git-icons,
  .dev-names {
    display: none;
  }

  .repo-name {
    display: none;
  }
}

/* Favortite movies title styles responsive */

@media screen and (max-width: 586px) {
  .page-heading::before {
    left: 0;
  }

  .page-heading::after {
    width: 70%;
    left: 15%;
  }

}


@media screen and (max-width: 375px) {
  .page-heading::after {
    width: 85%;
    left: 7%;
  }
}


@media screen and (max-width: 320px) {


  .page-heading::after {
    width: 90%;
    left: 5%;
  }
} 